/* Color theme 'Green' */

/* Page Body background */
.theme_green.theme_body, .theme_green .theme_body {
	background-color:#1a914c;
}

/* Article background */
.theme_green.theme_article, .theme_green .theme_article {
	color:#ffffff;
	background-color:#2ecc71;
}

/* Text color */
.theme_green p, .theme_green td, .theme_green th, .theme_green input, .theme_green textarea, .theme_green div,
.theme_green .theme_text {
	color:#222222;
}

/* Headers color */
.theme_green h1, .theme_green h2, .theme_green h3,
.theme_green .theme_title, .theme_green .theme_header {
	color:#ffffff;
}

/* SubHeaders color */
.theme_green h4, .theme_green h5, .theme_green h6,
.theme_green .theme_subtitle, .theme_green .theme_subheader {
	color:#ffffff;
}

/* Strong text */
.theme_green .theme_strong {
	color:#222222;
}

/* Info text - post date, author, comments etc. */
.theme_green .theme_info {
	color:#eeeeee;
}

/* Links (as text) */
.theme_green a, 
.theme_green .theme_link {
	color:#ffffff;
}

/* Links (as text) hover */
.theme_green a:hover,
.theme_green .theme_link:hover {
	color:#222222;
}

/* Links (as button) */
.theme_green a.more-link,
.theme_green a.comment-reply-link,
.theme_green .theme_button {
	background-color:#ffffff;
	color:#222222;	
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}

/* Links (as button) hover */
.theme_green a.more-link:hover,
.theme_green a.comment-reply-link:hover,
.theme_green a.theme_button:hover,
.theme_green a.theme_accent_bg:hover,
.theme_green .theme_hover {
	background-color:#7f7f7f;
	color:#ffffff;	
}

/* Border color */
.theme_green fieldset,
.theme_green .theme_border {
	border-color:#29b765 !important;
}

/* Accent color */
.theme_green .theme_accent_bg {
	background-color:#20f37a;
	color:#ffffff;
}
.theme_green .theme_accent {
	color:#20f37a;
}
.theme_green .theme_accent_border {
	border-color:#20f37a;
}


/* Reviews stars */
.theme_green .theme_stars {		/* Inactive */
	color:#29b765;
}
.theme_green .theme_stars_on {	/* Active */
	color:#ffc800;
}
.theme_green .theme_rating_bar {		/* Inactive */
	background-color:#29b765;
}
.theme_green .theme_rating_level {	/* Active */
	background-color:#ffc800;
}
.theme_green .theme_rating_drag {	/* Slider */
	background-color:#20f37a;
}


/* Puzzles - description block background and color */
.theme_green .theme_puzzles {
	background-color:#017e36;
	color:#ffffff;
}





/* Main menu
---------------------------------------------------*/
.theme_green .theme_menu {
	background-color:#1a914c;
}
	.theme_green #mainmenu a {
		color:#ffffff;
	}
	#mainmenu > li.theme_green.current-menu-item > a,
	.theme_green #mainmenu > li.current-menu-item > a {
		background-color:#20f37a;
		color:#ffffff;
	}
	#mainmenu > li.theme_green > a:hover,
	#mainmenu > li.theme_green.sfHover > a,
	.theme_green #mainmenu > li > a:hover,
	.theme_green #mainmenu > li.sfHover > a {
		background-color:#20f37a;
		color:#ffffff;
	}
	/* Second level */
	#mainmenu > li.theme_green ul,
	.theme_green #mainmenu > li ul {
		background-color:#20f37a;
		color:#ffffff;
	}
	#mainmenu > li.theme_green ul li a,
	.theme_green #mainmenu > li ul li a {
		color: #ffffff;
	}
	#mainmenu > li.theme_green ul li.current-menu-item > a,
	.theme_green #mainmenu > li ul li.current-menu-item > a {
		background-color:#222222;
	}
	#mainmenu > li.theme_green ul li a:hover,
	#mainmenu > li.theme_green ul li.sfHover > a,
	.theme_green #mainmenu > li ul li a:hover,
	.theme_green #mainmenu > li ul li.sfHover > a {
		background-color:#222222;
		color:#ffffff;	
	}
	/* Side menu */
	.theme_green #sidemenu_area li a {
		color:#ffffff;
	}
	#sidemenu_area li.theme_green.current-menu-item a,
	.theme_green #sidemenu_area li.current-menu-item a {
		background-color:#222222;
		color:#ffffff;
	}
	#sidemenu_area li.theme_green a:hover,
	#sidemenu_area li.theme_green.sfHover a,
	.theme_green #sidemenu_area li a:hover,
	.theme_green #sidemenu_area li.sfHover a {
		background-color:#7f7f7f;
		color:#ffffff;
	}




/* Pages navigation
---------------------------------------------------*/
.theme_green #nav_pages li a,
.theme_green #nav_pages li span,
.theme_green .nav_pages_parts a,
.theme_green .nav_pages_parts > span,
.theme_green .nav_comments a,
.theme_green .nav_comments > span {
	background-color:#ffffff;
	color:#222222;	
}
.theme_green #nav_pages li a:hover,
.theme_green .nav_pages_parts a:hover,
.theme_green .nav_comments a:hover {
	background-color:#7f7f7f;
	color:#ffffff;	
}
.theme_green #nav_pages li.pager_current span,
.theme_green #nav_pages li.pager_current a,
.theme_green #nav_pages li a.current,
.theme_green .nav_pages_parts > span.page_num,
.theme_green .nav_comments span {
	background-color:#222222;
	color:#ffffff;	
}
.theme_green .nav_pages_parts > span.pages {
	background:none;
	filter:none;
	border:none;
}
.theme_green #nav_pages .pager_pages span {	
	background:none;
	filter:none;
	border-color:transparent;
	border-width:0;
	color:#ffffff;
}



/* Form fields
---------------------------------------------------*/
.theme_green #buddypress .button,
.theme_green #buddypress .generic-button a,
.theme_green #buddypress form input[type="button"],
.theme_green #buddypress form input[type="reset"],
.theme_green #buddypress form input[type="submit"],
.theme_green.bbpress #bbpress-forums form input[type="button"],
.theme_green.bbpress #bbpress-forums form input[type="submit"],
.theme_green.bbpress #bbpress-forums form input[type="reset"],
.theme_green button,
.theme_green html input[type="button"],
.theme_green input[type="reset"],
.theme_green input[type="submit"] {
	border-color:transparent;
	border-width:0;
	background:#ffffff;
	color:#222222;	
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
	cursor: pointer;
}
.theme_green #buddypress .button:hover,
.theme_green #buddypress .generic-button a:hover,
.theme_green #buddypress form input[type="button"]:hover,
.theme_green #buddypress form input[type="reset"]:hover,
.theme_green #buddypress form input[type="submit"]:hover,
.theme_green.bbpress #bbpress-forums form input[type="button"]:hover,
.theme_green.bbpress #bbpress-forums form input[type="submit"]:hover,
.theme_green.bbpress #bbpress-forums form input[type="reset"]:hover,
.theme_green button:hover,
.theme_green html input[type="button"]:hover,
.theme_green input[type="reset"]:hover,
.theme_green input[type="submit"]:hover {
	background:#7f7f7f;
	color:#ffffff;	
}
.theme_green #buddypress .button:focus,
.theme_green #buddypress .generic-button a:focus,
.theme_green #buddypress form input[type="button"]:focus,
.theme_green #buddypress form input[type="reset"]:focus,
.theme_green #buddypress form input[type="submit"]:focus,
.theme_green.bbpress #bbpress-forums form input[type="button"]:focus,
.theme_green.bbpress #bbpress-forums form input[type="submit"]:focus,
.theme_green.bbpress #bbpress-forums form input[type="reset"]:focus,
.theme_green button:focus,
.theme_green html input[type="button"]:focus,
.theme_green input[type="reset"]:focus,
.theme_green input[type="submit"]:focus,
.theme_green button:active,
.theme_green html input[type="button"]:active,
.theme_green input[type="reset"]:active,
.theme_green input[type="submit"]:active {
	background:#ffffff;
	color:#222222;	
}
.theme_green #buddypress form textarea,
.theme_green #buddypress form#whats-new-form textarea,
.theme_green #buddypress form select,
.theme_green #buddypress form input[type="file"],
.theme_green #buddypress form input[type="text"],
.theme_green #buddypress form input[type="search"],
.theme_green #buddypress form input[type="email"],
.theme_green #buddypress form input[type="number"],
.theme_green #buddypress form input[type="checkbox"],
.theme_green #buddypress form input[type="radio"],
.theme_green #buddypress form input[type="password"],
.theme_green .theme_field,
.theme_green blockquote,
.theme_green input[type="text"],
.theme_green input[type="number"],
.theme_green input[type="email"],
.theme_green input[type="password"],
.theme_green input[type="search"],
.theme_green select,
.theme_green textarea {
	background: #1a914c;
	border-width:0;
	color: #ffffff;
}
.theme_green #buddypress form textarea:focus,
.theme_green #buddypress form#whats-new-form textarea:focus,
.theme_green #buddypress form select:focus,
.theme_green #buddypress form input[type="file"]:focus,
.theme_green #buddypress form input[type="text"]:focus,
.theme_green #buddypress form input[type="search"]:focus,
.theme_green #buddypress form input[type="email"]:focus,
.theme_green #buddypress form input[type="number"]:focus,
.theme_green #buddypress form input[type="checkbox"]:focus,
.theme_green #buddypress form input[type="radio"]:focus,
.theme_green #buddypress form input[type="password"]:focus,
.theme_green .theme_field:focus,
.theme_green input[type="text"]:focus,
.theme_green input[type="number"]:focus,
.theme_green input[type="email"]:focus,
.theme_green input[type="password"]:focus,
.theme_green input[type="search"]:focus,
.theme_green select:focus,
.theme_green textarea:focus {
	background: #15753d;
	color: #ffffff;
}




/* Sidebars
---------------------------------------------------*/
.theme_green aside.widget {
	color:#ffffff;
	background-color:#2ecc71;
}

/* All lists bullets in widgets */
.theme_green #content ul li:before,
.theme_green.widget_area ul li.current-menu-item > a,
.theme_green.widget_area ul li:before {
	color:#222222;
}

/* Widget Calendar */
.theme_green .widget.widget_calendar table thead th {
	background-color:#ffffff;
	color:#222222;
}
.theme_green .widget.widget_calendar table tbody td {
	color:#222222;
	background-color:#ffffff;
}
.theme_green .widget.widget_calendar table tbody a {
	color:#2ecc71;
	background-color:#ffffff;
}
.theme_green .widget.widget_calendar table tbody a:hover {
	color:#ffffff;
	background-color:#7f7f7f;
}
.theme_green .widget.widget_calendar table tbody .pad {
	background-color:transparent;
}
.theme_green .widget.widget_calendar caption {
	color:#ffffff;
}
.theme_green .widget.widget_calendar table tbody #today,
.theme_green .widget.widget_calendar table tbody #today a {
	color:#ffffff;	
	background-color:#1a914c;
}

/* Widget Tag cloud */
.theme_green .widget.widget_tag_cloud a {
	color:#222222;
	background-color:#ffffff;
}
.theme_green .widget.widget_tag_cloud a:hover {
	color:#ffffff;
	background-color:#7f7f7f;
}




/* Shortcodes
---------------------------------------------------*/

/* Accordion */
.theme_green .sc_accordion .sc_accordion_item .sc_accordion_title a {
	color:#ffffff;
}
.theme_green .sc_accordion .sc_accordion_item .sc_accordion_title a span.sc_accordion_icon {
	background-color: #ffffff;
	color:#222222;
}
.theme_green .sc_accordion .sc_accordion_item .sc_accordion_title.ui-state-active a span.sc_accordion_icon {
	background-color: #222222;
	color:#ffffff;
}
.theme_green .sc_accordion .sc_accordion_item .sc_accordion_title.ui-state-active a {
	color:#222222;
}
.theme_green .sc_accordion .sc_accordion_item .sc_accordion_title a:hover {
	color:#222222;
}
.theme_green .sc_accordion .sc_accordion_item .sc_accordion_title a:hover span.sc_accordion_icon {
	background-color: #7f7f7f;
	color:#ffffff;
}

/* Blogger */
.theme_green .sc_blogger .sc_blogger_title a:hover {
	color:#222222;
}
.theme_green .sc_blogger[class*="style_image_"] .title_area .post_comments {
	color: #ffffff;
}
.theme_green .sc_blogger.sc_blogger_vertical .sc_blogger_item {
	border-top-color:#29b765;
}
.theme_green .sc_blogger.style_date .date_month {
	background-color:#20f37a;
	color:#222222;
}
.theme_green .sc_blogger.style_date .date_day {
	background-color:#ffffff;
	color:#222222;
	border-color:#29b765;
}
.theme_green .sc_blogger .sc_blogger_item_bordered {
	border-color: #29b765;
}

/* Button */
.theme_green .sc_button {
	border-color:#29b765;
	color:#222222;
}
.theme_green .sc_button.sc_button_style_regular {
	border-color:transparent;
	border-width:0;
	color: #222222;
}

/* Dropcaps */
.theme_green .sc_dropcaps.sc_dropcaps_style_1 span.sc_dropcap {
	color: #ffffff;
}
.theme_green .sc_dropcaps.sc_dropcaps_style_2 span.sc_dropcap {
	background-color: #222222;
	color: #ffffff;
}
.theme_green .sc_dropcaps.sc_dropcaps_style_3 span.sc_dropcap {
	background: #20f37a;
	color: #ffffff;
}

/* Infobox */
.theme_green.bbpress #bbpress-forums .bbp-template-notice,
.theme_green .sc_infobox_style_regular {
	border-color: #e0e0e0;
	color:#666666;
	background: #ffffff;
}
.theme_green.bbpress #bbpress-forums .bbp-template-notice p,
.theme_green .sc_infobox_style_regular p {
	color:#666666;
}
.theme_green.bbpress #bbpress-forums .bbp-template-notice.info,
.theme_green .sc_infobox_style_info {
	border: 1px solid #f4ecab;
	color: #bd9a67;
	background: #fffdec;
}
.theme_green.bbpress #bbpress-forums .bbp-template-notice.info p,
.theme_green .sc_infobox_style_info p {
	color: #bd9a67;
}
.theme_green .sc_infobox_style_success {
	border: 1px solid #c8f8af;
	color: #5aa631;
	background: #eaffdf;
}
.theme_green .sc_infobox_style_success p {
	color: #5aa631;
}
.theme_green .sc_infobox_style_error {
	border: 1px solid #ffd8d8;
	color: #ff5555;
	background: #fff1f1;
}
.theme_green .sc_infobox_style_error p {
	color: #ff5555;
}
.theme_green .sc_infobox_style_result {
	border: 1px solid #ccdae0;
	color: #94adb9;
	background: #f7fbfc;
}
.theme_green .sc_infobox_style_result p {
	color: #94adb9;
}


/* Line */
.theme_green .sc_line {
	border-color: #29b765;
}

/* List */
.theme_green ul.sc_list.sc_list_style_regular li span.sc_list_icon,
.theme_green ul.sc_list li.sc_list_style_regular span.sc_list_icon {
	background: #1a914c;
}
.theme_green ul.sc_list.sc_list_style_mark li span.sc_list_icon,
.theme_green ul.sc_list li.sc_list_style_mark span.sc_list_icon {
	background: #ff5555;
}

/* Skills*/
.theme_green .sc_skills .sc_skills_item .sc_skills_progressbar {
	background:#1a914c;
}
.theme_green .sc_skills .sc_skills_item .sc_skills_progress {
	border-color: #29b765;
	background:#222222;
}
.theme_green .sc_skills .sc_skills_item .sc_skills_caption {
	color:#ffffff;
}
.theme_green .sc_skills .sc_skills_item .sc_skills_level {
	background:#222222;
	color:#ffffff;

}

/* Slider Flex */
.theme_green .sc_slider_flex .flex-control-nav a:hover {
	background-color:#20f37a;
}
.theme_green .sc_slider_flex .flex-control-nav .flex-active {
	border-color:#20f37a;
}

/* Table */
.theme_green .sc_table table td, 
.theme_green .sc_table table th {
	border-color: #29b765;
	background: #1a914c;
	color: #ffffff;
}
.theme_green .sc_table table th {
	background: #222222;
}
.theme_green .sc_table table tr:hover td {
	background-color:#7f7f7f;
}

/* Tabs */
.theme_green .ui-tabs-active .theme_button {
	background-color:#222222;
	color:#ffffff;	
}
.theme_green .sc_tabs .content {
	background: #1a914c;
	color:#ffffff;
	border-color: #29b765;
}

/* Team */
.theme_green .sc_team .sc_team_item {
	background-color: #1a914c;
}

/* Testimonials */
.theme_green .sc_testimonials .sc_testimonials_position {
	color:#ffffff;
}
.theme_green .sc_testimonials.sc_testimonials_style_flat .sc_testimonials_content {
	background-color:#1a914c;
}
.theme_green .sc_testimonials.sc_testimonials_style_callout .sc_testimonials_content {
	background-color:#1a914c;
	color:#ffffff;
}
.theme_green .sc_testimonials.sc_testimonials_style_callout .sc_testimonials_extra {
	background-color: #126736;
}
.theme_green .sc_testimonials.sc_testimonials_style_callout .sc_testimonials_extra .sc_testimonials_extra_inner {
	border-color:transparent transparent #2ecc71 #2ecc71;
}

/* Title */
.theme_green .sc_title_bubble_top .sc_title_bubble_icon,
.theme_green .sc_title_bubble_left .sc_title_bubble_icon {
	background-color:#222222;
	color:#ffffff;
}
.theme_green .sc_title_underline:after {
	border-bottom-color:#222222;
}

/* Toggles */
.theme_green .sc_toggles .sc_toggles_item .sc_toggles_title a {
	color:#ffffff;
}
.theme_green .sc_toggles .sc_toggles_item .sc_toggles_title a span.sc_toggles_icon {
	background-color: #ffffff;
	color:#222222;
}
.theme_green .sc_toggles .sc_toggles_item .sc_toggles_title.ui-state-active a span.sc_toggles_icon {
	background-color: #222222;
	color:#ffffff;
}
.theme_green .sc_toggles .sc_toggles_item .sc_toggles_title.ui-state-active a {
	color:#222222;
}
.theme_green .sc_toggles .sc_toggles_item .sc_toggles_title a:hover {
	color:#222222;
}
.theme_green .sc_toggles .sc_toggles_item .sc_toggles_title a:hover span.sc_toggles_icon {
	background-color: #7f7f7f;
	color:#ffffff;
}

/* Tooltip */
.theme_green .sc_tooltip_parent {
	color:#ffffff;
	border-bottom-color:#29b765;
}
.theme_green .sc_tooltip {
	background: #1a914c;
	color:#ffffff;
}
.theme_green .sc_tooltip:after {
	border-color: #1a914c transparent transparent;
}


