{% block content %} {% load static %}

<div id="wrapper">

    <!-- Back span-->
    <a href="{% url 'wongnork:review' restaurant.pk %}" class="back-span">
        <i class="fa fa-arrow-circle-left"></i>
    </a>

    <!--Contents-->
    <div>
        <h1>{{restaurant.restaurant_name}}</h1>
        <br>
    </div>
    <br>



    <h5>Your first hand experiences would really help other foodies. Thank you!</h5>
    <hr>

    <form action="{% url 'wongnork:reviewed' restaurant.pk %}" method="post">
        {% csrf_token %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div>
            <h6>Your overall rating of the restaurant</h6>
            <label class="rate">
                 <input type="radio" name="rate" value="1" checked>1
                <span type="submit" class=" fa fa-star checked" id="first"></span>
                 <input type="radio" name="rate" value="2">2
                <span type="submit" class=" fa fa-star checked" id="second"></span>
                 <input type="radio" name="rate" value="3">3
                <span type="submit" class=" fa fa-star checked" id="third"></span>
                 <input type="radio" name="rate" value="4">4
                <span type="submit" class=" fa fa-star checked" id="fourth"></span>
                 <input type="radio" name="rate" value="5">5
                <span type="submit" class=" fa fa-star checked" id="fifth"></span>
            </label>
        </div>
        <br>

        <div>
            <h6>How expensive is this restaurant?</h6>
            <label>
                    <input type="radio" name="price" value="1" checked>Low
                    <div class="price">
                    </div>
                </label>
            <label>
                    <input type="radio" name="price" value="2">Medium
                    <div class="price">
                    </div>
                </label>
            <label>
                    <input type="radio" name="price" value="3">High
                    <div class="price">

                    </div>
                </label>
            <br><br>
        </div>

        <div class="fieldWrapper">
            <h6>Title of your review</h6>
            <p class="comment-form-comment">
                <label for="comment"></label><textarea id="comment" cols="45" rows="8" aria-required="true" name="review_title"></textarea>
            </p>
        </div><br>
        <div class="fieldWrapper">
            <h6>Your review</h6>
            <p class="comment-form-comment">
                <label for="comment"></label><textarea id="comment" cols="45" rows="8" aria-required="true" name="review_des"></textarea>
            </p>
        </div><br>

        <input type="submit" value="Submit your review" class="btn btn-success" style="font-weight: 500; margin-bottom: 50px">
        <br>

    </form>
</div>
</div>
{% endblock %}