{% block content %}
{% load crispy_forms_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--Login-->
    <body>
        <div class="hero">
            <h1>Login</h1>
            <form method="POST">
                <div class="login_field">
                {% csrf_token %}
                {{ login_form|crispy }}
                </div>
                <button type="submit">Login</button>
            </form>
            <p class="signup_link">Don't have an account? <a href="/wongnork/register">Create an account</a>.</p>
        </div>
    </body>

{% endblock %}

