{% block content %}

{% load crispy_forms_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--Register-->
{#    <body>#}
        <div class="hero">
            <h1>Register</h1>
            <form method="POST">
                <div class="login_field">
                {% csrf_token %}
                {{ register_form|crispy }}
                </div>
                <button type="submit">Register</button>
            </form>
            <p class="signup_link">If you already have an account, <a href="/wongnork/login">login</a> instead.</p>
        </div>
{#    </body>#}

{% endblock %}