{% block content %}

{% load crispy_forms_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--Edit profile-->
    <body>
        <div class="hero">
        <h1>Edit profile</h1>
            <form method="POST">
                <div class="login_field">
                {% csrf_token %}
                {{ edit_form|crispy }}
                </div>
                <button type="submit">Submit</button>
            </form>
            <br>
        </div>
  </body>

{% endblock %}