{% load static %}
{% block content %}

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Ripd | Puzzles</title>
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="http://puzzles.themerex.net/xmlrpc.php" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon1.ico' %}" />
    	<!--[if lt IE 9]>
		<script src="{% static 'js/html5.js" type="text/javascript"></script>
		<![endif]-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oxygen:400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" type="text/css" media="all" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin:400,500,400italic,500italic,700,700italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'icon/fontello/css/fontello.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'icon/fontello/css/animation.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/shortcodes.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/color.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" id="main_style" />
	<link rel="stylesheet" href="{% static 'css/themes/regular.css' %}" type="text/css" media="all" id="regular" />
	<link rel="stylesheet" href="{% static 'css/themes/redlight.css' %}" type="text/css" media="all" id="redlight" />
	<link rel="stylesheet" href="{% static 'css/themes/red.css' %}" type="text/css" media="all" id="red" />
	<link rel="stylesheet" href="{% static 'css/themes/dark.css' %}" type="text/css" media="all" id="dark" />
	<link rel="stylesheet" href="{% static 'css/themes/blue.css' %}" type="text/css" media="all" id="blue" />
	<link rel="stylesheet" href="{% static 'css/themes/green.css' %}" type="text/css" media="all" id="green" />
	<link rel="stylesheet" href="{% static 'css/themes/yellowdark.css' %}" type="text/css" media="all" id="yellowdark" />
	<link rel="stylesheet" href="{% static 'css/themes/yellowlight.css' %}" type="text/css" media="all" id="yellowlight" />
	<link rel="stylesheet" href="{% static 'css/themes/orange.css' %}" type="text/css" media="all" id="orange" />
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="all" />

		<!--[if lt IE 10]>
		<link rel="stylesheet" href="{% static 'css/ie.css' %}" type="text/css" media="all" />
		<![endif]-->
	<link rel="stylesheet" href="{% static 'js/prettyphoto/css/prettyPhoto.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'js/mediaplayer/mediaelementplayer.css' %}" type="text/css" media="all" />

</head>

<body class="single-format-standard theme_blue puzzles_heavy reviews_5 puzzles_animations wide no-js" data-puzzlestyle="heavy">
	<!-- Sidemenu -->
	<nav id="sidemenu_area" class="sidemenu_area theme_accent_bg" role="navigation">
		<a href="#" id="sidemenu_link" class="icon-menu theme_accent_bg"></a>
		<div id="sidemenu_scroller_wrapper">
			<div id="sidemenu_scroller">
				<ul id="sidemenu">
					<li class="lightblue">
						<a href="{% url 'index' %}">Home</a>
<!--						<ul class="sub-menu">-->
<!--							<li><a href="index1.html">Homepage with Slider</a></li>-->
<!--							<li><a href="index2.html">Homepage with Google map</a></li>-->
<!--							<li><a href="index3.html">Homepage (Light puzzles style)</a></li>-->
<!--							<li><a href="index4.html">Homepage (classic)</a></li>-->
<!--							<li><a href="index5.html">Home page (fullwidth)</a></li>-->
<!--						</ul>-->
					</li>
					<li class="brown"><a href="#">Features</a>
						<ul class="sub-menu">
<!--							<li><a href="typography.html">Typography</a></li>-->
<!--							<li><a href="shortcodes.html">Columns</a></li>-->
<!--							<li><a href="shortcodes-full-list.html">Shortcodes</a></li>-->
<!--							<li class="current-menu-item"><a href="404.html">Page 404</a></li>-->
<!--							<li><a href="uncategorized.html">No posts found</a></li>-->
<!--							<li><a target="_blank" href="http://puzzleshtml.themerex.net/doc">On-line documentation</a></li>-->
						</ul>
					</li>
					<li><a href="puzzles-style.html">Blog</a>
						<ul class="sub-menu">
							<li><a href="puzzles-style.html">All posts</a></li>
							<li><a href="#">Only ...</a>
								<ul class="sub-menu">
									<li><a href="excerpt-style1.html">Only Galleries</a></li>
									<li><a href="fullpost-style.html">Only Audios</a></li>
									<li><a href="excerpt-style4.html">Only Videos</a></li>
									<li><a href="excerpt-style2.html">Only Reviews</a></li>
								</ul>
							</li>
							<li><a href="#">Blog Styles</a>
								<ul class="sub-menu">
									<li><a href="puzzles-style.html">Style "Puzzles"</a></li>
									<li><a href="excerpt-style1.html">Style "Excerpt"</a></li>
									<li><a href="fullpost-style.html">Style "Fullpost"</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="blue"><a href="excerpt-style1.html">Movies</a></li>
					<li class="orange"><a href="excerpt-style3.html">Games</a></li>
					<li class="red"><a href="fullpost-style.html">Music</a></li>
					<li class="green"><a href="excerpt-style4.html">Video</a></li>
					<li class="black"><a href="excerpt-style2.html">Reviews</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- #sidemenu -->
	<!--[if lt IE 9]>
	<div class="sc_infobox sc_infobox_style_error"><div class="lt_ie9_align">It looks like you're using an old version of Internet Explorer. For the best WordPress experience, please <a href="http://microsoft.com" class="lt_ie9_color1">update your browser</a> or learn how to <a href="http://browsehappy.com" class="lt_ie9_color2">browse happy</a>!</div></div>	<![endif]-->
	<div id="page" class="theme_body">
        <!-- header -->
		<header role="banner">
			<div id="header_top">
				<div class="top_line theme_accent_bg"></div>
				<div id="header_top_inner">
					<div id="login_area">
						<a href="#" class="link_login icon-login-1 theme_accent_bg" title="Login"></a>
						<a href="#" class="link_register icon-key theme_accent_bg" title="Register"></a>
					</div>
					<div id="breadcrumbs_area"></div>
					<div class="logo logo_text"><a href="{% url 'index' %}"><span class="logo_title theme_header">Won<span class="theme_accent">g</span>Nork</span><span class="logo_slogan theme_info">Food review blog</span></a></div>
				</div>
       		</div>
			<div id="header_middle_wrapper">
				<div id="header_middle"  >
					<div id="header_middle_inner">
						<div class="search_form_area theme_body">
							<form class="search_form" action="#" method="get"><input class="search_field" type="search" placeholder="Type your search query and press 'Enter' ..." value="" name="s"></form>
							<a href="#" class="search_close"><span class="icon-cancel-circled"></span></a>
						</div>
						<!-- main menu -->
						<nav id="mainmenu_area" class="mainmenu_area theme_menu" role="navigation">
							<ul id="mainmenu">
								<li class="blue">
									<a href="{% url 'index' %}">Home</a>
								</li>
<!--								<li class="brown">-->
<!--									<a href="{% url 'review_page' %}">Reviews</a>-->
<!--								</li>-->
								<li class="blue">
									<a href="#">Restaurants</a></li>
<!--								<li class="orange"><a href="excerpt-style3.html">Games</a></li>-->
<!--								<li class="red"><a href="fullpost-style.html">Music</a></li>-->
<!--								<li class="green"><a href="excerpt-style4.html">Video</a></li>-->
<!--								<li class="black"><a href="excerpt-style2.html">Reviews</a></li>-->
							</ul>
							<a href="#" class="search_link"><span class="icon-search"></span></a>
							</nav>

		<div id="main" class="with_sidebar right_sidebar">
			<div id="main_inner" class="clearboth blog_style_excerpt">
				<!-- content -->
				<div id="content" class="content_blog" role="main" itemscope itemtype="http://schema.org/Blog">

					<!-- post item -->
					<article class="theme_article instock">
						<div class="post_thumb image_wrapper no_thumb">
							<a href="single-format-standard.html"><img alt="" src="http://placehold.it/466x310"></a>
							<span class="post_format theme_accent_bg icon-doc-text"></span>
							<span class="post_category theme_accent_bg">Actions</span>
						</div>
						<div class="post_content">
							<div class="post_info post_info_top theme_info">
								Posted <span class="post_date theme_text">May 10, 2014</span>
								<span class="post_author">by <a href="excerpt-style1.html" class="post_author">John Doe</a></span>
								<br />
								<span class="post_cats">in <a class="cat_link" href="excerpt-style2.html">Actions,</a> <a class="cat_link" href="excerpt-style4.html">Adventure,</a> <a class="cat_link" href="excerpt-style3.html">Movies</a> </span>
								<span class="post_comments"><a href="single-format-standard.html"><span class="comments_icon theme_info icon-eye"></span><span class="comments_number">1597</span></a></span>
							</div>
							<div class="title_area">
								<h2 class="post_title"><a href="single-format-standard.html" class="theme_title">Ripd</a></h2>

								<!-- post review -->
								<div class="reviews_summary blog_reviews">
									<div class="criteria_summary criteria_row">
										<span class="criteria_stars" title="4.3 from 5">
											<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span></span>
											<span class="stars_on" data-review="86"><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span></span>
										</span>
									</div>
								</div>
								<!-- /post review -->

							</div>
							<div class="post_text_area">
								<p>An interstellar teleportation device, found in Egypt, leads to a planet with humans resembling ancient Egyptians who worship the god Ra</p>
								<a href="single-format-standard.html" class="more-link">Read more</a>
								<div class="post_info post_info_bottom theme_info"></div>
							</div>
						</div>
					</article>
					<!-- /post item -->

					<!-- post item -->
					<article class="theme_article instock">
						<div class="post_thumb image_wrapper no_thumb">
							<a href="single-format-gallery.html">
								<div class="sc_slider sc_slider_flex">
									<ul class="slides">
										<li><img alt="" src="http://placehold.it/466x310"></li>
										<li><img alt="" src="http://placehold.it/466x310"></li>
										<li><img alt="" src="http://placehold.it/466x310"></li>
										<li><img alt="" src="http://placehold.it/466x310"></li>
										<li><img alt="" src="http://placehold.it/466x310"></li>
									</ul>
								</div>
							</a>
							<span class="post_format theme_accent_bg icon-camera"></span>
							<span class="post_category theme_accent_bg">Movies</span>
						</div>

						<div class="post_content">
							<div class="post_info post_info_top theme_info">
								Posted <span class="post_date theme_text">September 6, 2013</span>
								<span class="post_author">by <a href="excerpt-style1.html" class="post_author">John Doe</a></span>
								<br />
								<span class="post_cats">in <a class="cat_link" href="excerpt-style1.html">Movies</a></span>
								<span class="post_comments"><a href="single-format-gallery.html"><span class="comments_icon theme_info icon-eye"></span><span class="comments_number">8105</span></a></span>
							</div>
							<div class="title_area">
								<h2 class="post_title"><a href="single-format-gallery.html" class="theme_title">Star Trek Into Darkness</a></h2>

								<!-- post review -->
								<div class="reviews_summary blog_reviews">
									<div class="criteria_summary criteria_row">
										<span class="criteria_stars" title="4.6 from 5">
										<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span></span>
										<span class="stars_on" data-review="92"><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span></span>
										</span>
									</div>
								</div>
								<!-- /post review -->

							</div>
							<div class="post_text_area">
								<p>After the crew of the Enterprise find an unstoppable force of terror from within their own organization..</p>
								<a href="single-format-gallery.html" class="more-link">Read more</a>
								<div class="post_info post_info_bottom theme_info">
									<span class="post_tags">
										<span class="tags_label">Tags:</span>
										<a class="tag_link" href="excerpt-style1.html">movies</a>
									</span>
								</div>
							</div>
						</div>
					</article>
					<!-- /post item -->

					<!-- post item -->
					<article class="theme_article instock">
						<div class="post_thumb image_wrapper no_thumb" data-video="<iframe class='video_frame' src='https://youtube.com/embed/1iIZeIy7TqM?autoplay=1' width='466' height='310' frameborder='0' webkitAllowFullScreen='webkitAllowFullScreen' mozallowfullscreen='mozallowfullscreen' allowFullScreen='allowFullScreen'></iframe>">
							<a href="single-format-video.html"><img alt="Iron Man" src="http://placehold.it/466x310"></a><a href="#" class="post_video_play icon-play"></a>
							<span class="post_format theme_accent_bg icon-video"></span>
							<span class="post_category theme_accent_bg">Actions</span>
						</div>
						<div class="post_content">
							<div class="post_info post_info_top theme_info">
								Posted <span class="post_date theme_text">September 1, 2013</span>
								<span class="post_author">by <a href="excerpt-style1.html" class="post_author">John Doe</a></span>
								<br />
								<span class="post_cats">in <a class="cat_link" href="excerpt-style4.html">Actions,</a> <a class="cat_link" href="excerpt-style5.html">Adventure,</a> <a class="cat_link" href="excerpt-style1.html">Movies</a> </span><span class="post_comments"><a href="single-format-video.html"><span class="comments_icon theme_info icon-eye"></span><span class="comments_number">12033</span></a></span>
							</div>
							<div class="title_area">
								<h2 class="post_title"><a href="single-format-video.html" class="theme_title">Iron Man</a></h2>

								<!-- post review -->
								<div class="reviews_summary blog_reviews">
									<div class="criteria_summary criteria_row">
										<span class="criteria_stars" title="4.4 from 5">
										<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span></span>
										<span class="stars_on" data-review="88"><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span></span>
										</span>
									</div>
								</div>
								<!-- /post review -->

							</div>
							<div class="post_text_area">
								<p>When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution</p>
								<a href="single-format-video.html" class="more-link">Read more</a>
								<div class="post_info post_info_bottom theme_info">
									<span class="post_tags">
									<span class="tags_label">Tags:</span>
									<a class="tag_link" href="single-format-video.html">iron man,</a> <a class="tag_link" href="excerpt-style1.html">movies</a> </span>
								</div>
							</div>
						</div>
					</article>
					<!-- /post item -->

					<!-- post item -->
					<article class="theme_article instock">
						<div class="post_thumb image_wrapper no_thumb">
							<a href="single-format-standard.html"><img alt="" src="http://placehold.it/466x310"></a>
							<span class="post_format theme_accent_bg icon-doc-text"></span>
							<span class="post_category theme_accent_bg">Actions</span>
						</div>

						<div class="post_content">
							<div class="post_info post_info_top theme_info">
								Posted <span class="post_date theme_text">August 30, 2013</span>
								<span class="post_author">by <a href="excerpt-style1.html" class="post_author">John Doe</a></span>
								<br />
								<span class="post_cats">in <a class="cat_link" href="excerpt-style2.html">Actions,</a> <a class="cat_link" href="excerpt-style5.html">Adventure,</a> <a class="cat_link" href="excerpt-style1.html">Movies</a> </span>
								<span class="post_comments"><a href="single-format-standard.html"><span class="comments_icon theme_info icon-eye"></span><span class="comments_number">10682</span></a></span>
							</div>
							<div class="title_area">
								<h2 class="post_title"><a href="single-format-standard.html" class="theme_title">Man of steel</a></h2>

								<!-- post review -->
								<div class="reviews_summary blog_reviews">
									<div class="criteria_summary criteria_row">
										<span class="criteria_stars" title="4.4 from 5">
											<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span></span>
											<span class="stars_on" data-review="88"><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span></span>
										</span>
									</div>
								</div>
								<!-- /post review -->

							</div>
							<div class="post_text_area">
								<p>A young itinerant worker is forced to confront his secret extraterrestrial heritage when Earth is invaded by members of his race</p>
								<a href="single-format-standard.html" class="more-link">Read more</a>
								<div class="post_info post_info_bottom theme_info">
									<span class="post_tags">
										<span class="tags_label">Tags:</span>
										<a class="tag_link" href="single-format-standard.html">man of steel,</a> <a class="tag_link" href="excerpt-style4.html">movies</a>
									</span>
								</div>
							</div>
						</div>
					</article>
					<!-- /post item -->

					<!-- post item -->
					<article class="theme_article post_format_quote without_thumb odd instock">
						<div class="post_content">
							<div class="post_info post_info_top theme_info">
								Posted <span class="post_date theme_text">July 28, 2013</span>
								<span class="post_author">by <a href="excerpt-style1.html" class="post_author">John Doe</a></span>
								<br />
								<span class="post_cats">in <a class="cat_link" href="excerpt-style1.html">Actions</a> </span>
								<span class="post_comments"><a href="single-format-quote.html"><span class="comments_icon theme_info icon-eye"></span><span class="comments_number">3359</span></a></span>
							</div>
							<div class="post_text_area">
								<blockquote><p>Fusce convallis sapien nisl, vel venenatis augue pharetra sit amet. Duis vitae nunc at purus mollis varius sit amet in justo.</p></blockquote>
								<p><a href="http://themeforest.net/user/themerex/portfolio">Theme REX</a></p>
								<a href="single-format-quote.html" class="more-link">Read more</a>
								<div class="post_info post_info_bottom theme_info">
									<span class="post_tags">
										<span class="tags_label">Tags:</span>
										<a class="tag_link" href="single-format-quote.html">quotes</a>
									</span>
								</div>
							</div>
						</div>
					</article>
					<!-- /post item -->

					<!-- post item -->
					<article class="theme_article instock">
						<div class="post_thumb image_wrapper no_thumb">
							<a href="single-format-gallery.html">
								<div class="sc_slider sc_slider_flex">
									<ul class="slides">
										<li><img alt="" src="http://placehold.it/466x310"></li>
										<li><img alt="" src="http://placehold.it/466x310"></li>
										<li><img alt="" src="http://placehold.it/466x310"></li>
									</ul>
								</div>
							</a>
							<span class="post_format theme_accent_bg icon-camera"></span>
							<span class="post_category theme_accent_bg">Actions</span>
						</div>

						<div class="post_content">
							<div class="post_info post_info_top theme_info">
								Posted <span class="post_date theme_text">December 16, 2012</span>
								<span class="post_author">by <a href="excerpt-style1.html" class="post_author">John Doe</a></span>
								<br />
								<span class="post_cats">in <a class="cat_link" href="excerpt-style2.html">Actions,</a> <a class="cat_link" href="excerpt-style1.html">Movies</a> </span>
								<span class="post_comments"><a href="single-format-gallery.html"><span class="comments_icon theme_info icon-eye"></span><span class="comments_number">1321</span></a></span>
							</div>
							<div class="title_area">
								<h2 class="post_title"><a href="single-format-gallery.html" class="theme_title">Elysium</a></h2>

								<!-- post review -->
								<div class="reviews_summary blog_reviews">
									<div class="criteria_summary criteria_row">
										<span class="criteria_stars" title="4.0 from 5">
											<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span></span>
											<span class="stars_on" data-review="80"><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span></span>
										</span>
									</div>
								</div>
								<!-- /post review -->

							</div>
							<div class="post_text_area">
								<p>Set in the year 2154, where the very wealthy live on a man-made space station while the rest of the population resides on a ruined Earth, a man takes on a mission that could bring equality to the polarized worlds</p>
								<a href="single-format-gallery.html" class="more-link">Read more</a>
							</div>
						</div>
					</article>
					<!-- /post item -->

					<div id="viewmore" class="pagination_viewmore">
						<a id="viewmore_link" class="theme_button view_more_button"><span class="icon-spin3 animate-spin viewmore_loading"></span><span class="viewmore_text_1">View more</span><span class="viewmore_text_2">Loading ...</span></a>
					</div>
				</div><!-- #content -->

				<!-- Sidebar -->
				<div id="sidebar_main" class="widget_area sidebar_main theme_blue" role="complementary">
					<!-- widget categories -->
					<aside class="widget widget_categories">
						<h3 class="widget_title theme_title">Categories</h3>
						<ul>
							<li><a href="excerpt-style6.html" title="View all posts filed under Advertisement">Advertisement</a></li>
							<li><a href="excerpt-style3.html" title="View all posts filed under Games">Games</a></li>
							<li><a href="excerpt-style1.html" title="View all posts filed under Movies">Movies</a>
								<ul class="children">
									<li><a href="excerpt-style5.html" title="View all posts filed under Actions">Actions</a></li>
									<li><a href="excerpt-style1.html" title="View all posts filed under Adventure">Adventure</a></li>
								</ul>
							</li>
							<li><a href="fullpost-style.html" title="View all posts filed under Music">Music</a></li>
							<li><a href="excerpt-style4.html" title="View all posts filed under Tech">Tech</a></li>
						</ul>
					</aside>
					<!-- widget categories -->
					<!-- Popular Post -->
					<aside class="widget widget_popular_posts">
						<h3 class="widget_title theme_title">Popular</h3>
						<!-- Tabs -->
						<div class="popular_and_commented_tabs">
							<ul class="tabs">
								<li><a href="#widget_popular_block1" class="theme_button"><span>Popular</span></a></li><li><a href="#widget_popular_block2" class="theme_button"><span>Commented</span></a></li>
							</ul>
							<div class="tab_content" id="widget_popular_block1">
								<!-- post item -->
								<div class="post_item first">
									<div class="post_thumb image_wrapper"><img alt="" src="http://placehold.it/60x60"></div>
									<div class="post_wrapper">
										<h5 class="post_title theme_title"><a href="single-format-video.html">Iron Man</a></h5>
										<div class="post_info theme_info">
											<span class="post_date theme_text">September 1, 2013</span>
											<span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
											<span class="post_comments_text"><a href="single-format-video.html"><span class="post_comments_number">12019</span> views</a></span>
										</div>
									</div>
								</div>
								<!-- /post item -->

								<!-- post item -->
								<div class="post_item">
									<div class="post_thumb image_wrapper"><img alt="" src="http://placehold.it/60x60"></div>
									<div class="post_wrapper">
										<h5 class="post_title theme_title"><a href="single-format-standard.html">Man of steel</a></h5>
										<div class="post_info theme_info">
											<span class="post_date theme_text">August 30, 2013</span>
											<span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
											<span class="post_comments_text"><a href="single-format-standard.html"><span class="post_comments_number">10680</span> views</a></span>
										</div>
									</div>
								</div>
								<!-- /post item -->

								<!-- post item -->
								<div class="post_item">
									<div class="post_thumb image_wrapper"><img alt="" src="http://placehold.it/60x60"></div>
									<div class="post_wrapper">
										<h5 class="post_title theme_title"><a href="single-format-gallery.html">Star Trek Into Darkness</a></h5>
										<div class="post_info theme_info">
											<span class="post_date theme_text">September 6, 2013</span>
											<span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
											<span class="post_comments_text"><a href="single-format-gallery.html"><span class="post_comments_number">8055</span> views</a></span>
										</div>
									</div>
								</div>
								<!-- /post item -->

								<!-- post item -->
								<div class="post_item">
									<div class="post_thumb image_wrapper"><img alt="" src="http://placehold.it/60x60"></div>
									<div class="post_wrapper">
										<h5 class="post_title theme_title"><a href="single-format-standard.html">Grid</a></h5>
										<div class="post_info theme_info">
											<span class="post_date theme_text">August 30, 2013</span>
											<span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
											<span class="post_comments_text"><a href="single-format-standard.html"><span class="post_comments_number">6354</span> views</a></span>
										</div>
									</div>
								</div>
								<!-- /post item -->
							</div>

							<div class="tab_content" id="widget_popular_block2">

								<!-- post item -->
								<div class="post_item first">
									<div class="post_thumb image_wrapper"><img alt="" src="http://placehold.it/60x60"></div>
									<div class="post_wrapper">
										<h5 class="post_title theme_title"><a href="single-format-video.html">Iron Man</a></h5>
										<div class="post_info theme_info">
											<span class="post_date theme_text">September 1, 2013</span>
											<span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
											<span class="post_comments_text"><a href="single-format-video.html#comments"><span class="post_comments_number">2</span> comments</a></span>
										</div>
									</div>
								</div>
								<!-- /post item -->

								<!-- post item -->
								<div class="post_item">
									<div class="post_thumb image_wrapper"><img alt="" src="http://placehold.it/60x60"></div>
									<div class="post_wrapper">
										<h5 class="post_title theme_title"><a href="single-format-gallery.html">Star Trek Into Darkness</a></h5>
										<div class="post_info theme_info">
											<span class="post_date theme_text">September 6, 2013</span>
											<span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
											<span class="post_comments_text"><a href="single-format-gallery.html#comments"><span class="post_comments_number">1</span> comments</a></span>

										</div>
									</div>
								</div>
								<!-- /post item -->

								<!-- post item -->
								<div class="post_item">
									<div class="post_thumb image_wrapper"><img alt="" src="http://placehold.it/60x60"></div>
									<div class="post_wrapper">
										<h5 class="post_title theme_title"><a href="excerpt-style1.html">Inception</a></h5>
										<div class="post_info theme_info">
											<span class="post_date theme_text">September 15, 2012</span>
											<span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
											<span class="post_comments_text"><a href="excerpt-style1.html#comments"><span class="post_comments_number">0</span> comments</a></span>
										</div>
									</div>
								</div>
								<!-- /post item -->

								<!-- post item -->
								<div class="post_item">
									<div class="post_thumb image_wrapper"><img alt="" src="http://placehold.it/60x60"></div>
									<div class="post_wrapper">
										<h5 class="post_title theme_title"><a href="single-format-audio.html">Duft punk - Get lucky</a></h5>
										<div class="post_info theme_info">
											<span class="post_date theme_text">August 26, 2013</span>
											<span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
											<span class="post_comments_text"><a href="single-format-audio.html#comments"><span class="post_comments_number">0</span> comments</a></span>
										</div>
									</div>
								</div>
								<!-- /post item -->
							</div>
						</div>
						<!-- /Tabs -->
					</aside>
					<!-- /Popular Post -->

					<!-- Tag clouds -->
					<aside class="widget widget_tag_cloud">
						<h3 class="widget_title theme_title">Tags</h3>
						<div class="tagcloud">
							<a href="excerpt-style4.html" title="1 topic">accessories</a>
							<a href="excerpt-style3.html" title="1 topic">actions</a>
							<a href="excerpt-style3.html" title="3 topics">games</a>
							<a href="single-format-standard.html" title="1 topic">iron man</a>
							<a href="single-format-standard.html" title="1 topic">man of steel</a>
							<a href="excerpt-style4.html" title="1 topic">media</a>
							<a href="single-format-video.html" title="1 topic">mobile</a>
							<a href="excerpt-style1.html" title="3 topics">movies</a>
							<a href="fullpost-style.html" title="3 topics">music</a>
							<a href="single-format-video.html" title="1 topic">phones</a>
							<a href="single-format-quote.html" title="1 topic">quotes</a>
							<a href="excerpt-style4.html" title="1 topic">Technics</a>
						</div>
					</aside>
					<!-- /Tag clouds -->
					<!-- Calendar -->
					<aside class="widget widget_calendar">
						<div>
							<table>
								<caption>May 2014</caption>
								<thead>
									<tr>
										<th scope="col" title="Monday">M</th>
										<th scope="col" title="Tuesday">T</th>
										<th scope="col" title="Wednesday">W</th>
										<th scope="col" title="Thursday">T</th>
										<th scope="col" title="Friday">F</th>
										<th scope="col" title="Saturday">S</th>
										<th scope="col" title="Sunday">S</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td colspan="3" id="prev"><a href="#" title="View posts for August 2013">&laquo; Apr</a></td>
										<td class="pad">&nbsp;</td>
										<td colspan="3" id="next"><a href="#" title="View posts for May 2014">Jun &raquo;</a></td>
									</tr>
								</tfoot>
								<tbody>
									<tr>
										<td colspan="3" class="pad">&nbsp;</td>
										<td><a href="excerpt-style6.html" title="">1</a></td>
										<td>2</td>
										<td>3</td>
										<td>4</td>
									</tr>
									<tr>
										<td><a href="excerpt-style5.html" title="">5</a></td>
										<td>6</td>
										<td>7</td>
										<td>8</td>
										<td>9</td>
										<td><a href="excerpt-style4.html" title="">10</a></td>
										<td>11</td>
									</tr>
									<tr>
										<td>12</td>
										<td>13</td>
										<td><a href="excerpt-style3.html" title="">14</a></td>
										<td>15</td>
										<td>16</td>
										<td>17</td>
										<td>18</td>
									</tr>
									<tr>
										<td>19</td>
										<td>20</td>
										<td>21</td>
										<td>22</td>
										<td><a href="excerpt-style2.html" title="">23</a></td>
										<td>24</td>
										<td>25</td>
									</tr>
									<tr>
										<td><a href="excerpt-style1.html" title="">26</a></td>
										<td>27</td>
										<td>28</td>
										<td id="today"><a href="excerpt-style2.html" title="">29</a></td>
										<td>30</td>
										<td>31</td>
										<td class="pad" colspan="1">&nbsp;</td>
									</tr>
								</tbody>
							</table>
						</div>
					</aside>
				</div>
				<!-- #sidebar -->

			</div><!-- #main_inner -->
    	</div><!-- #main -->

    	<!-- footer -->
    	<footer id="footer" class="site_footer" role="contentinfo">
			<div id="footer_sidebar" class="widget_area theme_dark theme_article" role="complementary">
				<div id="footer_sidebar_inner">
					<!-- widget socials -->
					<aside class="widget widget_socials">
						<div class="widget_inner">
            				<div class="logo logo_text"><a href="index.html">
            					<span class="logo_title theme_header">puz<span class="theme_accent">z</span>les</span></a>
            				</div>
							<div class="logo_descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    		<a class="social_icons social_facebook" href="https://www.facebook.com/themerex" target="_blank"><img src="images/socials/facebook.png" alt="" /></a><a class="social_icons social_twitter" href="https://twitter.com/Theme_REX" target="_blank"><img src="images/socials/twitter.png" alt="" /></a><a class="social_icons social_gplus" href="https://plus.google.com/102189073109602153696" target="_blank"><img src="images/socials/gplus.png" alt="" /></a><a class="social_icons social_youtube" href="https://www.youtube.com/channel/UCnFisBimrK2aIE-hnY70kCA" target="_blank"><img src="images/socials/youtube.png" alt="" /></a><a class="social_icons social_pinterest" href="http://themeforest.net/user/ThemeREX/portfolio" target="_blank"><img src="images/socials/pinterest.png" alt="" /></a>
                		</div>
					</aside>
					<!-- #widget socials -->
					<!-- widget flickr -->
					<aside class="widget widget_flickr">
						<h3 class="widget_title theme_title">Flickr</h3>
						<div class="flickr_images">
							<a href="#"><img title="" alt="A photo on Flickr" src="http://placehold.it/75x75"></a>
							<a href="#"><img title="" alt="A photo on Flickr" src="http://placehold.it/75x75"></a>
							<a href="#"><img title="" alt="A photo on Flickr" src="http://placehold.it/75x75"></a>
							<a href="#"><img title="" alt="A photo on Flickr" src="http://placehold.it/75x75"></a>
							<a href="#"><img title="" alt="A photo on Flickr" src="http://placehold.it/75x75"></a>
							<a href="#"><img title="" alt="A photo on Flickr" src="http://placehold.it/75x75"></a>
							<a href="#"><img title="" alt="A photo on Flickr" src="http://placehold.it/75x75"></a>
							<a href="#"><img title="" alt="A photo on Flickr" src="http://placehold.it/75x75"></a>
							<a href="#"><img title="" alt="A photo on Flickr" src="http://placehold.it/75x75"></a>
							<a href="#"><img title="" alt="A photo on Flickr" src="http://placehold.it/75x75"></a>
						</div>
					</aside>
					<!-- widget #flickr -->
					<!-- widget recent post -->
					<aside class="widget widget_recent_entries widget-odd">
						<h3 class="widget_title theme_title">Recent posts</h3>
						<ul>
							<li><a href="single-format-standard.html">Ripd</a></li>
							<li><a href="single-format-gallery.html">Star Trek Into Darkness</a></li>
							<li><a href="single-format-video.html">Iron Man</a></li>
							<li><a href="single-format-standard.html">Man of steel</a></li>
							<li><a href="single-format-audio.html">Grid</a></li>
							<li><a href="single-format-gallery.html">Hitman</a></li>
							<li><a href="single-format-video.html">GTA V</a></li>
						</ul>
					</aside>
					<!-- #widget recent post -->
					<!-- widget contact form -->
					<aside class="widget widget_text">
						<h3 class="widget_title theme_title">Contact form</h3>
						<div class="textwidget">
							<div class="sc_contact_form">
								<form method="post" action="include/sendmail.php">
									<div class="field field_name"><input type="text" id="sc_contact_form_username" name="username" placeholder="Your Name*"></div>
									<div class="field field_email"><input type="text" id="sc_contact_form_email" name="email" placeholder="Your Email*"></div>
									<div class="field field_message"><textarea id="sc_contact_form_message" name="message" placeholder="Your Message*"></textarea></div>
									<div class="sc_contact_form_button"><a href="#" class="sc_contact_form_submit theme_button"><span>Send</span></a></div>
									<div class="result sc_infobox"></div>
								</form>
							</div>
						</div>
					</aside>
					<!-- #widget contact form -->
				</div>
			</div>
			<!-- footer_copyright -->
			<div id="footer_copyright" class="theme_dark theme_article">
				<div id="footer_copyright_inner" class="theme_text">
					<a href="http://themeforest.net/user/ThemeREX/portfolio">ThemeREX</a> &copy; 2013 All Rights Reserved
				</div>
			</div>
			<!-- #footer_copyright -->
        </footer>
        <!-- #footer -->

	</div><!-- #page -->

	<a href="#" id="toTop" class="theme_button icon-up-open-big"></a>
	<!-- Login Register Form -->
	<div id="popup_login" class="popup_form">
	    <div class="popup_body theme_article">
			<h4 class="popup_title">Login</h4>
	        <form action="#" method="post" name="login_form">
				<div class="popup_field"><input type="text" name="log" id="log" placeholder="Login*" /></div>
				<div class="popup_field"><input type="password" name="pwd" id="pwd" placeholder="Password*" /></div>
				<div class="popup_field popup_button"><a href="#" class="theme_button">Login</a></div>
				<div class="popup_field forgot_password">
					<a href="#">Forgot password?</a>
	            </div>
				<div class="popup_field register">
					<a href="#">Register</a>
	            </div>
	            <div class="result sc_infobox"></div>
			</form>
	    </div>
	</div>

	<div id="popup_register" class="popup_form">
	    <div class="popup_body theme_article">
			<h4 class="popup_title">Registration</h4>
	        <form action="#" method="post" name="register_form">
				<div class="popup_field"><input type="text" name="registration_username" id="registration_username" placeholder="Your name (login)*" /></div>
				<div class="popup_field"><input type="text" name="registration_email" id="registration_email" placeholder="Your email*" /></div>
				<div class="popup_field"><input type="password" name="registration_pwd" id="registration_pwd" placeholder="Your Password*" /></div>
				<div class="popup_field"><input type="password" name="registration_pwd2" id="registration_pwd2" placeholder="Confirm Password*" /></div>
				<div class="popup_field theme_info registration_role"><p>Desired role:</p>
				<input type="radio" name="registration_role" id="registration_role1" value="1" checked="checked" /><label for="registration_role1">Subscriber</label>
				<input type="radio" name="registration_role" id="registration_role2" value="2" /><label for="registration_role2">Author</label>
				</div>
				<div class="popup_field registration_msg_area"><textarea name="registration_msg" id="registration_msg" placeholder="Your message"></textarea></div>
				<div class="popup_field popup_button"><a href="#" class="theme_button">Register</a></div>
	            <div class="result sc_infobox"></div>
			</form>
	    </div>
	</div>
    <!-- #Login Register Form -->
	<script type="text/javascript" src="js/jquery/jquery.js"></script>
	<script type="text/javascript" src="js/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="js/jquery/ui/jquery-ui-1.10.4.custom.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/jquery.easing.js"></script>
	<script type="text/javascript" src="js/superfish.js"></script>
	<script type="text/javascript" src="js/jquery.mobilemenu.min.js"></script>
	<script type="text/javascript" src="js/jquery.slidemenu.js"></script>
	<script type="text/javascript" src="js/skip-link-focus-fix.js"></script>
	<script type="text/javascript" src="js/_utils.js"></script>
	<script type="text/javascript" src="js/_googlemap_init.js"></script>
	<script type="text/javascript" src="js/_front.js"></script>
	<script type="text/javascript" src="js/_reviews.js"></script>
	<script type="text/javascript" src="js/prettyphoto/jquery.prettyPhoto.min.js?ver=no-compose"></script>
	<script type="text/javascript" src="js/jquery.flexslider.min.js"></script>
	<script type="text/javascript" src="js/mediaplayer/mediaelement-and-player.min.js"></script>
	<script type="text/javascript" src="js/_contact_form.js"></script>
	<script type="text/javascript" src="js/jquery/ui/jquery.ui.core.min.js"></script>
	<script type="text/javascript" src="js/jquery/ui/jquery.ui.widget.min.js"></script>
	<script type="text/javascript" src="js/jquery/ui/jquery.ui.mouse.min.js"></script>
	<script type="text/javascript" src="js/jquery/ui/jquery.ui.draggable.min.js"></script>
</body>
</html>

{% endblock %}