{% load static %}
{% block content %}

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Ripd | Puzzles</title>
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="http://puzzles.themerex.net/xmlrpc.php" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon1.ico' %}" />
    	<!--[if lt IE 9]>
		<script src="{% static 'js/html5.js" type="text/javascript"} ></script>
		<![endif]-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oxygen:400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" type="text/css" media="all" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin:400,500,400italic,500italic,700,700italic&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'icon/fontello/css/fontello.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'icon/fontello/css/animation.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/shortcodes.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/color.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" id="main_style" />

	<link rel="stylesheet" href="{% static 'css/themes/regular.css' %}" type="text/css" media="all" id="regular" />
	<link rel="stylesheet" href="{% static 'css/themes/redlight.css' %}" type="text/css" media="all" id="redlight" />
	<link rel="stylesheet" href="{% static 'css/themes/red.css' %}" type="text/css" media="all" id="red" />
	<link rel="stylesheet" href="{% static 'css/themes/dark.css' %}" type="text/css" media="all" id="dark" />
	<link rel="stylesheet" href="{% static 'css/themes/blue.css' %}" type="text/css" media="all" id="blue" />
	<link rel="stylesheet" href="{% static 'css/themes/green.css' %}" type="text/css" media="all" id="green" />
	<link rel="stylesheet" href="{% static 'css/themes/yellowdark.css' %}" type="text/css" media="all" id="yellowdark" />
	<link rel="stylesheet" href="{% static 'css/themes/yellowlight.css' %}" type="text/css" media="all" id="yellowlight" />
	<link rel="stylesheet" href="{% static 'css/themes/orange.css' %}" type="text/css" media="all" id="orange" />
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="all" />

		<!--[if lt IE 10]>
		<link rel="stylesheet" href="{% static 'css/ie.css' %}" type="text/css" media="all" />
		<![endif]-->
	<link rel="stylesheet" href="{% static 'js/prettyphoto/css/prettyPhoto.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'js/mediaplayer/mediaelementplayer.css' %}" type="text/css" media="all" />

</head>

<body class="single-format-standard theme_blue puzzles_heavy reviews_5 puzzles_animations wide no-js" data-puzzlestyle="heavy">

	<!-- #sidemenu -->
	<!--[if lt IE 9]>
	<div class="sc_infobox sc_infobox_style_error"><div class="lt_ie9_align">It looks like you're using an old version of Internet Explorer. For the best WordPress experience, please <a href="http://microsoft.com" class="lt_ie9_color1">update your browser</a> or learn how to <a href="http://browsehappy.com" class="lt_ie9_color2">browse happy</a>!</div></div>	<![endif]-->
	<div id="page" class="theme_body">
        <!-- header -->
		<header role="banner">
			<div id="header_top">
				<div class="top_line theme_accent_bg"></div>
				<div id="header_top_inner">
					<div id="login_area">
						<a href="#" class="link_login icon-login-1 theme_accent_bg" title="Login"></a>
						<a href="#" class="link_register icon-key theme_accent_bg" title="Register"></a>
					</div>
					<div id="breadcrumbs_area"></div>
					<div class="logo logo_text"><a href="{% url 'index' %}"><span class="logo_title theme_header">Won<span class="theme_accent">g</span>Nork</span><span class="logo_slogan theme_info">Food review blog</span></a></div>
				</div>
       		</div>
			<div id="header_middle_wrapper">
				<div id="header_middle"  >
					<div id="header_middle_inner">
						<div class="search_form_area theme_body">
							<form class="search_form" action="#" method="get"><input class="search_field" type="search" placeholder="Type your search query and press 'Enter' ..." value="" name="s"></form>
							<a href="#" class="search_close"><span class="icon-cancel-circled"></span></a>
						</div>
						<!-- main menu -->
						<nav id="mainmenu_area" class="mainmenu_area theme_menu" role="navigation">
							<ul id="mainmenu">
								<li class="blue">
									<a href="{% url 'index' %}">Home</a>
								</li>

								<li class="blue">
									<a href="{% url 'wongnork:restaurants_page' %}">Restaurants</a></li>

							</ul>
							<form action="{% url 'wongnork:search-bar' %}" method='POST'>
                            {% csrf_token %}
                            <input class="form-control form-control-lg form-control-borderless" name="searched"
                                       placeholder="Search for restaurants">
                            <button href="{% url 'wongnork:search-bar' %}"
                                    class="btn btn-lg bg-color2 text-white"
                                    type="submit"><span class="icon-search"></span>
                            </button>
                        </form>
							</nav>


		<div id="main" class="with_sidebar right_sidebar">
			<div id="main_inner" class="clearboth blog_style_fullpost">
				<!-- content -->
				<div id="content" class="content_blog post_single" role="main">
					<div class="itemscope" itemscope itemtype="http://schema.org/Review">
						<article class="theme_article post_format_standard instock">
							<div class="post_thumb image_wrapper no_thumb">
								<img alt="" src={{restaurant.photo}} itemprop="image">
								<span class="post_format theme_accent_bg icon-doc-text"></span>
								<span class="post_category theme_accent_bg">Restaurant</span>
							</div>

							<!-- Post content -->
							<div class="post_content">

								<!-- Post info -->
								<div class="post_info post_info_top theme_info">
									<span class="post_date theme_text date updated" itemprop="datePublished" content="2014-05-10">{{restaurant.location}}</span>
								</div>
								<!-- /Post info -->

								<div class="post_reviews theme_regular">
									<ul class="tabs theme_field">
<!--										<li><a href="#reviews_author" class="theme_button">Author</a></li><li><a href="#reviews_users" class="theme_button">Users</a></li>-->
									</ul>
									<!-- Review author -->
									<div id="reviews_author" class="reviews_tab reviews_author">
										<input type="hidden" name="reviews_id" class="reviews_id" value="reviews_marks_author" />
										<input type="hidden" name="criterias_list" class="criterias_list" value="Movies criteria 1|1,Movies criteria 2|2,Movies criteria 3|3,Movies criteria 4|4,Movies criteria 5|5" />
										<input type="hidden" name="marks_list" class="marks_list" value="4,5,4" />
										<div class="reviews_data">
											<div class="reviews_summary blog_reviews">
<!--											<div class="criteria_summary_text criteria_row theme_field"><p>An interstellar teleportation device, found in Egypt, leads to a planet with humans resembling ancient Egyptians who worship the god Ra</p></div>-->
											<div class="criteria_summary criteria_row theme_field">
												<span class="criteria_label theme_strong">Summary</span>
												<span itemscope itemprop="reviewRating" itemtype="http://schema.org/Rating"><meta itemprop="worstRating" content="0"><meta itemprop="bestRating" content="5"><meta itemprop="ratingValue" content="4.3"><span class="criteria_stars" title="4.3 from 5">
												<span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span></span>
												<span class="stars_on" data-review="86"><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span></span>
												</span></span>
												<span class="criteria_mark theme_accent_bg">{{restaurant.rating}}</span>
												<span class="criteria_word theme_accent_bg">great</span>
											</div>
										</div>

										</div>
									</div>
									<!-- /Review author -->


								</div>
								<div class="title_area">
									<h1 itemprop="itemReviewed" class="post_title theme_title entry-title">{{restaurant.restaurant_name}}</h1>
								</div>
								<div itemprop="reviewBody" class="post_text_area">
									<div id="lipsum">
										<p>{{restaurant.detail}}</p>
									</div>
								</div>
							</div>
							<!-- #Post content -->
						</article>
						<div class="post_author_details theme_article">
							<div class="post_author_info vcard author" itemprop="author" itemscope itemtype="http://schema.org/Person">
								</div>
							</div>
						</div>

						<div id="comments" class="post_comments">
							<div class="post_comments_tree theme_article">
								<div class="subtitle_area">
									<h3 class="post_comments_title theme_subtitle">{{ restaurant.review_amount }} Comments</h3>
								</div>

                        <!--ADD REVIEW-->
                        <a href="{% url 'wongnork:add' restaurant.id %}" id="add-review" class="btn btn-lg btn-block">
                            <h1>Add a Review!</h1>
                        </a>

                        <!--ALL REVIEWS-->

                        {% if restaurant.review_set.all %}
                            {% for review in restaurant.review_set.all|dictsortreversed:"pk" %}
                                <div class="row">
                                    <div class="col card" style="margin: 10px">
                                        <div class="card-body">
                                            <div class="user-bar">
                                                <span class="user-icon"><i class="fas fa-user-circle"></i></span>
                                                <div class="user-icon-side review-meta-data">
                                                    <span><strong>{{review.review_user}}</strong></span><br>
                                                    <span class="date">Reviewed on {{ review.review_date }}</span>
                                                </div>
                                            </div>


                                            <label class="review-liner-small review-icon">
                                                {% for i in review.review_rate|rjust:review.review_rate %}
<!--{#                                                <i class="fas fa-star rate-small"/></i>// Add star#}-->
                                                {% endfor %}
                                            </label>
                                            <label id="price" class="review-liner-small review-icon">
                                                {% for i in review.review_price|rjust:review.review_price %}
<!--{#                                                <i class="fas fa-dollar-sign price-small"/></i>// Add price#}-->
                                                {% endfor %}
                                            </label>

                                            <h3>{{ review.review_title }}</h3>
                                            <p>{{review.review_description}}</p>

                                            <!--Likes-->
                                            <div id="rl{{ review.id }}" class="row">
                                                <div class="col-1">
                                                    {% if review.id in user_liked_reviews %}
                                                        <span class="badge badge-primary">Liked! </span>
                                                    {% else %}
                                                    <form action="#" method="post" onsubmit="addLike(this); return false;">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Like" class="btn btn-outline-primary btn-sm" style="height:20px;line-height: 0px;"></input>
                                                        <input type="hidden" name="review_id" value="{{ review.id }}" />
                                                    </form>
                                                    {% endif %}
                                                </div>
                                                <div class="col-1">
                                                    <span class="badge badge-danger">
                                                        <span class="likes-count" style="padding-right:10px;">{{review.like_set.count}}</span>
                                                        <i class="fas fa-thumbs-up"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <hr>

                                            <!-- COMMENTS -->
                                            <div>

                                                <!-- ADD COMMENT -->
                                                <div class="row row-comment-reply">
                                                    <span class="user-icon-small col"><i class="fas fa-user-circle"></i></span>
                                                    <form action="#" method="post" class="col-11 comment_form" onsubmit="addComment(this); return false;">
                                                        {% csrf_token %}
                                                        <input type="text" class="form-control new-comment-reply" name="comment_description" placeholder="Write your comment for this review...">
                                                        <input type="hidden" name="review_id" value="{{ review.id }}" />
                                                    </form>
                                                </div>

                                                <!-- CURRENT COMMENTS -->
                                                <div id="rc{{ review.id }}">
                                                    {% for comment in review.comment_set.all|dictsortreversed:"pk" %}
                                                        <div>
                                                            <div class="row row-comment-reply">
                                                                <span class="user-icon-small col"><i class="fas fa-user-circle"></i></span>
                                                                <div class="col-11">
                                                                    <div class="comment-reply-content">
                                                                        <span class="comment-reply-username">{{comment.comment_user}}</span>
                                                                        <span class="comment-reply-description">{{comment.comment_description}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- OPTIONS -->
                                                            <div id="cc{{ comment.id }}" class="replies-with-comment-options">
                                                                <div class="comment-options">
                                                                    <a href="#" onclick="createAddReply({{ comment.id }}, this); return false;">Reply</a>
                                                                </div>
                                                            </div>

                                                            <!-- CURRENT REPLIES -->
                                                            <div id="c{{ comment.id }}" class="replies">
                                                                {% for reply in comment.reply_set.all|dictsortreversed:"pk" %}
                                                                    <div class="row row-comment-reply">
                                                                        <span class="user-icon-small col"><i class="fas fa-user-circle"></i></span>
                                                                        <div class="col-11">
                                                                            <div class="comment-reply-content">
                                                                                <span class="comment-reply-username">{{reply.reply_user}}</span>
                                                                                <span class="comment-reply-description">{{reply.reply_description}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        {% else %}
                            <div id="no-reviews-yet-message" class="alert alert-success" role="alert">
                                <p>There are no reviews for {{ restaurant.restaurant_text }} yet.</p>
                                <p>Would you like to start writing a review?</p>
                            </div>
                        {% endif %}
                    </div>
                </div>



	</div><!-- #page -->

</body>
</html>

{% endblock %}