{% block content %} {% load crispy_forms_tags %}

<!--User-->
<br><br>
<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 pb-4">
            <div class="card p-4">
                <h1>User profile</h1>
                <h2 class="card-title font-weight-bold text-center">{{ user.username|title }}</h2>
                <hr>
                <div class="card-text">
                    <p class="text-muted mb-0" style="font-size: 20px">Username: {{ user.username }} </p>
                    <p class="text-muted mb-0" style="font-size: 20px">Email: {{ user.email }} </p>
                    <div class="text-right">
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#profileModal">Edit Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}